<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>easyPoi</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<form method="post" th:action="@{excel/importExcel}" enctype="multipart/form-data">
    <div class="form-group" >
        <label for="exampleInputFile">请选择excel文件导入到数据列表</label>
        <input type="file" id="exampleInputFile" name="filename">
    </div>
    <button type="submit" class="btn btn-info">导入数据</button>
</form>
<br>
<table class="table">
    <caption>Optional table caption.</caption>
    <tbody>
    <tr th:each="user : ${data.records}">
        <th scope="row" th:text="${user.id}"></th>
        <td th:text="${user.name}">Mark</td>
        <td th:text="${user.password}">Mark</td>
        <td th:text="${user.addr}">Mark</td>
        <td th:text="${user.phone}">Mark</td>
        <td th:text="${user.status}">Mark</td>
    </tr>
    </tbody>
</table>
<br>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a th:href="@{/index.html?page=1&szie=10}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a th:href="@{/index.html?page=1&szie=10}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<br>
<button class="btn btn-primary">导出excel</button>
</body>
</html>