<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo02.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.demo02.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uname" column="uname" jdbcType="VARCHAR"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
            <result property="isAdmin" column="is_admin" jdbcType="BOOLEAN"/>
            <result property="isDelete" column="is_delete" jdbcType="BOOLEAN"/>
            <result property="enabled" column="enabled" jdbcType="BOOLEAN"/>
            <result property="accountnonexpired" column="accountNonExpired" jdbcType="BOOLEAN"/>
            <result property="accountnonlocked" column="accountNonLocked" jdbcType="BOOLEAN"/>
            <result property="credentialsnonexpired" column="credentialsNonExpired" jdbcType="BOOLEAN"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uname,pwd,
        is_admin,is_delete,enabled,
        accountNonExpired,accountNonLocked,credentialsNonExpired,
        create_time,update_time
    </sql>
</mapper>
