# mybatis plus 中的连接配置
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://42.194.140.137/test?characterEncoding=utf-8&useSSL=false
    username: root
    password: root
#  mvc:
#    static-path-pattern: /static/**
# 日志打印
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:/mapper/**/*.xml